[[source]]
url = "https://pypi.org/simple"
name = "pypi"

[dependencies]
sqlalchemy-serializer = "*"
Faker = "18.13.0"
flask = "2.2.5"
flask-migrate = "*"
flask-sqlalchemy = "*"
ipdb = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-cors = "*"

[dev-packages]

[dev-dependencies]

[requires]
python_version = "3.8"
